body {
    padding: 0;
    margin: 0;
}

.header-area {
    background-image: url(https://templatemo.com/templates/templatemo_573_eduwell/assets/images/header-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 110px;
    top: -31px;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.h1tag {
    display: block;
    font-weight: 400;
    font-size: 46px;
    text-transform: capitalize;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
    text-align: center;
    padding: 26px;
}

.clearfix {
    clear: both;
}

.btn {
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.main-btn {
    color: #fff;
    background: #15824B;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}

.main-btn:hover {
    background: #149174;
    color: #0C5645;
}

.container {
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.container .leftSide {
    flex-grow: 20;
    position: relative;
}

.container .middle {
    flex-grow: 1;
    position: relative;
    display: block;
    z-index: 2;
    padding: 2px;
}

.container .middle::before {
    content: "";
    width: 1px;
    background-color: gray;
    height: 140px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 1;
}

.container .middle::after {
    content: "";
    width: 1px;
    background-color: gray;
    height: 140px;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
}

.container .rigthSide {
    flex-grow: 24;
}

.container .leftSide video {
    border: 1px solid black;
    border-radius: 20px;
    /* width: 520px;
    height: 360px; */
    background: #70e1f5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 481px;
}

.startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    position: absolute;
    left: 77px;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    outline: none;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
}

.image-upload-wrap {
    margin-top: 20px;
    outline: 4px dashed #1FB264;
    position: relative;
    background-color: #1FB264;
    padding: 10px;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: white;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

#image {
    display: none;
}